#Loader{
    text-align: center;
    align-content: center;
}

.container{
    max-width: 80vw !important;
}


.hide-custom{
    display: none;
}

@media only screen and (min-width: 1460px)  {
    .hide-custom{
        display: inline;
    }
}

.hide-custom2{
    display: none;
}

@media only screen and (min-width: 1800px)  {
    .hide-custom2{
        display: inline;
    }
}

.hide-custom3{
    display: none;
}

@media only screen and (min-width: 915px)  {
    .hide-custom3{
        display: inline;
    }
}

.table.table-bordered.dataTable td{
    font-size: 14px;
    text-align: left;
}